
trunk/as005415/task_01/src/.idea/

trunk/as005415/task_01/src/cmake-build-debug/

trunk/as005415/task_01/src/CMakeLists.txt

trunk/as005415/task_01/src/Modeling controlled object/.vs/

trunk/as005415/task_01/src/Modeling controlled object/Debug/

trunk/as005415/task_01/src/Modeling controlled object/Modeling controlled object/Debug/

trunk/as005401/task_02/src/task2/Debug/

trunk/as005401/task_02/src/task2/task2/Debug/

trunk/as005401/task_02/src/task2/.vs/
