################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/trunk/as005312/task_01/src/task/Debug/task.exe
/trunk/as005312/task_01/src/task/task/Debug
/trunk/as005312/task_01/src/task/Debug
/trunk/as005312/task_01/src/task/.vs/task/v16/ipch/AutoPCH/1d233d7bcaf3d560
/trunk/as005312/task_01/src/task/.vs/task/v16
/.vs
/trunk/as005312/task_01/src/lab1
/trunk/as005312/task_01/src/task/task
/trunk/as005312/task_01/src/task/task.sln
