################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/trunk/as005312/task_01/src/task/Debug/task.exe
